@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Raleway&display=swap');

:root {
    --first-color: #141E26;
    --second-color: #AAB9BF;
    --third-color: #A66C4B;
    --fourth-color: #73503C;
    --fifth-color: #F2AF88;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--second-color);
    font-family: 'Raleway', sans-serif;
    color: var(--first-color);
    margin: 0;
}


button {
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

button:focus,
input:focus {
    outline: none;
}


header {
    background: url(/images/band-shot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    position: relative;
    color: var(--first-color);
}


/* Shortcut for an overlay */
header::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(115, 80, 60, 0.5);
}

/* this will bring the contents to the top */
header * {
    z-index: 1;
}

h1 {
    font-family: 'Kanit', sans-serif;
    margin: 0 0 30px;
    color: #fff;
    font-size: 2.5rem;
}

form {
    position: relative;
    width: 500px;
    max-width: 100%;
}

form input {
    border: 0;
    border-radius: 50px;
    font-size: 16px;
    padding: 15px 30px;
    width: 100%
}

form button {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: var(--first-color);
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    padding: 13px 30px;
}

.btn {
    background-color: var(--first-color);
    border: 0;
    border-radius: 10px;
    color: #fff;
    padding: 4px 10px;
}

i.right {
    margin-left: 5px;
}

i.left {
    margin-right: 5px;
}

ul.songs {
    list-style-image: none;
    padding: 0;
}

ul.songs li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.container {
    margin: 30px auto;
    max-width: 100%;
    width: 500px;
}

.container h2 {
    font-weight: 300;
}

.container p {
    text-align: center;
}

.centered {
    display: flex;
    justify-content: center;
}

.centered button {
    transform: scale(1.3);
    margin: 15px;
}

.btn.song {
    white-space: nowrap;
}


@media (max-width: 500px) {
    form {
        width: 90%;
    }

    form input,
    form button {
        font-size: 14px;
    }


    .container {

        width: 90%;
    }


}